body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #125d4e;
  font-family: Arial, sans-serif;
  color: white;
}
#colorPicker{
    margin-top: 5px;
    
}

p{
    margin:0px;
}
.controls {
background-color: #125d4e;
overflow: hidden;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  left: 0;
}

#drawCanvas {
  border: 1px solid #000;
  background-color: #fff;
}


